mainmenu "Memory Allocator Subsystem Permutator Configuration"


source "memory-source/memory-source.Kconfig"

source "block-allocator/block-allocator.Kconfig"

source "extent-manager/extent-manager.Kconfig"
