
choice
        prompt "Block allocator"
        default MALLOC_BLOCK_ALLOCATOR_BUDDY
        help
          Select the block allocator.

          Block allocators are mutually exclusive. Exactly one
          allocator is selected.

config MALLOC_BLOCK_ALLOCATOR_BUDDY
        bool "Buddy block allocator"

config MALLOC_BLOCK_ALLOCATOR_TREES
        bool "Trees block allocator"

config MALLOC_BLOCK_ALLOCATOR_SEGREGATED_FREE_LIST
        bool "Segregated free list allocator"

config MALLOC_BLOCK_ALLOCATOR_BITMAP
        bool "Bitmap block allocator"

config MALLOC_BLOCK_ALLOCATOR_HYBRIDS
        bool "Hybrid block allocator"

endchoice

if MALLOC_BLOCK_ALLOCATOR_BUDDY
source "block-allocator/buddy/Kconfig"
endif
if MALLOC_BLOCK_ALLOCATOR_HYBRIDS
source "block-allocator/hybrids/Kconfig"
endif
if MALLOC_BLOCK_ALLOCATOR_TREES
source "block-allocator/trees/Kconfig"
endif
if MALLOC_BLOCK_ALLOCATOR_SEGREGATED_FREE_LIST
source "block-allocator/segregated-free-list/Kconfig"
endif
if MALLOC_BLOCK_ALLOCATOR_BITMAP
source "block-allocator/bitmap/Kconfig"
endif

